---
interface Props {
  title: string;
  pubDate: String;
  description: string;
  image: string;
  tags: string[];
}
const { title, description, image, tags, pubDate } = Astro.props;
---

<div class="box content">
  <div class="card1">
    <p class="header1">{title}</p>
    <p class="header1">{image}</p>
    <div class="main-content1">
      <p class="heading1">{description}</p>
    </div>
    <div class="footer1">
      <p class="header1">{pubDate}</p>
      <p class="header1">{tags}</p>
    </div>
  </div>
</div>
